{% extends 'navbar.html' %}

{% set active_page = 'tags' %}

{% block content %}
<div id="add" class="row">
    <h2 class="text-center">
            Tags
    </h2>
    <div id="addcontainer" class="text-center col-xs-offset-1 col-lg-offset-2 col-xs-10 col-lg-8">
        <form method="POST" id="add_form">
            {{ add_form.csrf_token }}
            <h4>{{ add_form.add_tag.label }}</h4>
            {{ add_form.add_tag }}
            {% for error in add_form.add_tag.errors %}
                <span style="color: red;"><b>[{{ error }}]</b></span>
            {% endfor %}
            {{ add_form.add_button(class_="btn btn-default") }}
        </form>
    </div>
</div>
<div class="row">
    <div class="col-xs-offset-1 col-lg-offset-2 col-xs-10 col-lg-8">
        <hr/>
    </div>
</div>
<div id="postwall" class="row">
    <div id="postwallcontainer" class="col-xs-offset-1 col-lg-offset-2 col-xs-10 col-lg-8">
        
        
        <p class="top-padding">Here are the post tags, arranged in alphabetical order.</p>
        <div id="tags" class="text-justify">
            {% for tag in tags %}
                <span><a href={{url_for('tag_postwall', subsite=tag.subsite, tag_nicename=tag.nicename)}}>&#35;{{ tag.display_name }}</a></span>
            {% endfor %}
        </div>
    </div>
</div>

{% endblock %}

{% block footer %}
{% endblock %}