{% extends 'navbar.html' %}

{% set active_page = 'categories' %}

{% block content %}

<div id="postwall" class="row">
    <div id="postwallcontainer" class="col-xs-offset-1 col-lg-offset-2 col-xs-10 col-lg-8">
        <h2 class="text-center">
            Edit Categories
        </h2>
        <p class="top-padding">Here are the post categories, arranged in alphabetical order.</p>
        <div id="postcells" class="">
            {%- for column in categories|slice(2) %}
            <ul class="col-sm-6">
            {%- for category in column %}
                <li><a href={{url_for('category_postwall', category_nicename=category.nicename)}}>{{ category.display_name }}</a></li>
            {%- endfor %}
            </ul>
            {%- endfor %}
        </div>
    </div>
</div>
<div id="add" class="row">
    <div id="addcontainer" class="col-xs-offset-1 col-lg-offset-2 col-xs-10 col-lg-8">
        <form method="POST" id="add_form">
            {{ add_form.csrf_token }}
            {{ add_form.add_category.label }}
            {{ add_form.add_category }}
            {% for error in add_form.add_category.errors %}
                <span style="color: red;"><b>[{{ error }}]</b></span>
            {% endfor %}
            {{ add_form.add_button }}
        </form>
    </div>
</div>

{% endblock %}

{% block footer %}
{% endblock %}