{% extends 'base.html' %}

{% block content %}

<div id="postpage" class="row">
    <div id="postcontainer" class="col-md-offset-1 col-lg-offset-2 col-md-10 col-lg-8">
        <h2 id="title" class="test-center">
            {{ post.display_title }}
        </h2>
        <div id="categories" class="row">
            {% for category in post.categories %}
            <code>&lt;{{ category.display_name }}&gt; </code>
            <span> </span>
            {% endfor %}
        </div>
        <div id="tags" class="row">
            {% for tag in post.tags %}
            <small>&#35;{{ tag.display_name }} &gt; </small>
            {% endfor %}
        </div>
        <div id="post" class="row">
            {{ post.content|safe }}
        </div>
    </div>

</div>


{% endblock %}

{% block footer %}
<div id="post" class="row">
     <p class="col-md-offset-1 col-lg-offset-2 col-md-10 col-lg-8">>
        Written by: 
        {% for author in post.authors %}
        <span>{{ author.display_name }}</span>
        {% endfor %}
    </p>
</div>
{% endblock %}