{% extends 'navbar.html' %}

{% set active_page = 'categories' %}

{% block content %}

<div id="postwall" class="row">
    <div id="postwallcontainer" class="col-xs-offset-1 col-lg-offset-2 col-xs-10 col-lg-8">
        {% if g.user.is_authenticated %}
        <div id="edit_delete" class="row">
            <div class="btn-group btn-group-justified btn-group-lg">
                <a href="{{ url_for('blog.add_categories', subsite=g.subsite) }}" class="btn btn-default" >Add Category</a>
                <a href="{{ url_for('blog.edit_categories', subsite=g.subsite) }}" class="btn btn-default" >Edit Category</a>
                <a href="{{ url_for('blog.merge_delete_categories', subsite=g.subsite) }}" class="btn btn-default" >Merge/Delete Category</a>
            </div>
        </div>
        {% endif %}
        <h2 class="text-center">
            Categories
        </h2>
        <p class="top-padding">Here are the post categories, arranged in alphabetical order.</p>
        <div id="postcells" class="">
            {%- for column in categories|slice(2) %}
            <ul class="col-sm-6">
            {%- for category in column %}
                <li><a href={{url_for('blog.category_postwall', subsite=category.subsite, category_nicename=category.nicename)}}>{{ category.display_name }}</a></li>
            {%- endfor %}
            </ul>
            {%- endfor %}
        </div>
    </div>
</div>

{% endblock %}

{% block footer %}
{% endblock %}
