{% extends 'navbar.html' %}

{% set active_page = 'tags' %}

{% block title %}{{ g.subsite }} - Merge Tags{% endblock %}

{% block content %}
<div id="mergedelete" class="row">
    <div id="mergedeletecontainer" class="col-xs-offset-1 col-lg-offset-2 col-xs-10 col-lg-8">
        <form method="POST" id="merge_delete_form">
            {{ merge_delete_form.csrf_token }}
            <h4 class="text-center">
                <b>Select Tags to Merge or Delete</b>
            </h4>
            <p>Hold down <kbd>CTRL</kbd> to select multiple tags.</p>
            <div class="form-group">
            {{ merge_delete_form.tags(class_="form-control", size="15")  }}
            {% for error in merge_delete_form.tags.errors %}
                <span class="text-center" style="color: red;"><b>[{{ error }}]</b></span>
            {% endfor %}
            </div>
            <div class="form-group text-center">
            {{ merge_delete_form.merge_button(class_="btn btn-primary") }}
            {{ merge_delete_form.delete_button(class_="btn btn-danger") }}
            {{ merge_delete_form.cancel_button(class_="btn btn-default") }}
            </div>
        </form>
    </div>
</div>


{% endblock %}

{% block footer %}
{% endblock %}