{% extends 'navbar.html' %}
{% from 'paginate.html' import paginate %}

{% block title %}{{ g.subsite }} - Post Wall{% endblock %}

{% block content %}
<div id="postwall" class="row">
    <div id="postwallcontainer" class="col-xs-offset-1 col-lg-offset-2 col-xs-10 col-lg-8">
        <h2 class="text-center">
            Wall of Posts
            {% if category is defined %}<small>- Category: '{{ category.display_name }}'</small>{% endif %}
            {% if tag is defined %}<small>- Tag: '{{ tag.display_name }}'</small>{% endif %}
        </h2>
        <p class="top-padding">Here are the posts, arranged in descending date order.</p>
        <div id="postcells" class="">
        {% for post in posts.items %}
            <div id="postcell" class="top-padding">
                <h4><a href= {{ url_for('blog.post', subsite=post.subsite, nicename=post.nicename) }} >{{ post.display_title }}</a>
                {% if post.date_published %}
                <small>-
                {{ post.date_published }}
                </small>
                {% endif %}
                </h4>

                <p class="postwalltext">
                    {{ post.get_excerpt() | striptags }}
                </p>
            </div>
        {% endfor %}
        </div>
        {{ paginate(posts, g.subsite) }}
    </div>

</div>


{% endblock %}

{% block footer %}
{% endblock %}
