{% extends 'navbar.html' %}

{% set active_page = 'tags' %}

{% block content %}

<div id="postwall" class="row">
    <div id="postwallcontainer" class="col-xs-offset-1 col-lg-offset-2 col-xs-10 col-lg-8">
        {% if g.user.is_authenticated %}
        <div id="edit_delete" class="row">
            <div class="btn-group btn-group-justified btn-group-lg">
                <a href="{{ url_for('blog.add_tags', subsite=g.subsite) }}" class="btn btn-default" >Add Tag</a>
                <a href="{{ url_for('blog.edit_tags', subsite=g.subsite) }}" class="btn btn-default" >Edit Tag</a>
                <a href="{{ url_for('blog.merge_delete_tags', subsite=g.subsite) }}" class="btn btn-default" >Merge/Delete Tag</a>
            </div>
        </div>
        {% endif %}
        <h2 class="text-center">
            Tags
        </h2>
        <p class="top-padding">Here are the post tags, arranged in alphabetical order.</p>
        <div id="tags" class="text-justify">
            {% for tag in tags %}
                <span style="font-size: {{ 100+5*tag.posts.count() }}%;"><a href={{url_for('blog.tag_postwall', subsite=tag.subsite, tag_nicename=tag.nicename)}}>&#35;{{ tag.display_name }}</a></span>
            {% endfor %}
        </div>
    </div>

</div>


{% endblock %}

{% block footer %}
{% endblock %}
