{% extends 'upper_navbar.html' %}

{% set navigation_bar = [
    (url_for('show_posts', subsite=g.subsite), 'posts', 'Posts'),
    (url_for('show_categories', subsite=g.subsite), 'categories', 'Categories'),
    (url_for('show_tags', subsite=g.subsite), 'tags', 'Tags')
] -%}
{% set active_page = active_page|default('posts') -%}
{% set active_subsite = g.subsite %}

{% block lower_navbar %}
<nav class="navbar navbar-default navbar-static-top">
    <div class="container col-xs-offset-1 col-lg-offset-2 col-xs-10 col-lg-8">
        <div class="navbar-header">
            <a class="navbar-brand" href="">{{ g.subsite }}</a>
        </div>
        <ul class="nav navbar-nav">
            {% for href, id, caption in navigation_bar %}
                <li{% if id == active_page %} class="active"{% endif %}><a href="{{ href|e }}">{{ caption|e }}</a></li>
            {% endfor %}
        </ul>
        {% if g.user.is_authenticated %}
        <ul class="nav navbar-nav navbar-right">
            <li><a href="">{{ g.user.login }} AKA {{ g.user.display_name }}</a></li>
            <li><a href="{{ url_for('add_post', subsite=g.subsite) }}">New Post</a></li>
            <li><a href="{{ url_for('show_drafts', subsite=g.subsite) }}">Drafts</a></li>
            <li><a href="{{ url_for('logout') }}">Logout</a></li>
        </ul>
        {% endif %}
    </div>
</nav>
{% endblock %}
